@media only screen and (max-width: 600px) {
    .newStreakButton {
        display: none;
    }
    .homeHead {
        margin-right: 85px;
        justify-content: center;
    }
    .newStreakButtonMobile {
        bottom: 30px;
        right: 15px;
        position: fixed;
        display: inline;
        margin-right: 10px;
        z-index: 1;
        background-color: #728fb1;
        width: 200px;
        height: 60px;
        border: none;
        border-radius: 30px;
        color: aliceblue;
        font-size: 23px;
    }

}