html,body { 
    height:100%; 
    min-width: 600px;
}

#root {
    caret-color: transparent;
    height:100%; 
    background-color: #010409;
    width: auto;
}
.titleDiv {
    background-color: #21262c;
    color: white;
    position: fixed;
    width: 100%;
    height: 72px;
    display:flex;
}
.title {
    margin-left: 5%;
    margin-top:10px;
    font-size: 28px;
    flex:1;
}
.newStreakButton {
    flex:1;
    max-width: 200px;
    max-height: 50px;
    margin-top: 11px;
    margin-right: 60px;
    background-color: #3d434a;
    border: none;
    border-radius: 30px;
    color: aliceblue;
    font-size: 18px;
}
.failedContainer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.failedToLoad {
    height: 50px;
    font-size: 20px;
    padding-top: 8px;
    background-color: #21262c;
    color: rgb(255, 67, 67);
    text-align: center;
    width: 80%;
    max-width: 800px;
    border-radius: 25px;
    
}
.reloadStreakbtn {
    
    margin-left: 5px;
    padding: 2px 8px;
    background-color: #3d434a;
    border: none;
    border-radius: 30px;
    color: aliceblue;
    font-size: 18px;
}
.newStreakForm {
    color: white;
    background: #21262c;
    width: 300px;
    height: 0px;
    position: fixed;
    z-index: 1; 
    top: 82px;
    right: 10px;
    border-radius: 10px;
    caret-color: auto;
    font-size: 20px;
    overflow: hidden;
    transition: height 0.5s;
}
.form {
    padding: 20px;
}
.formText {
    margin-top: 10px;
    width: 100%;
}
.formTime {
    margin-top: 10px;
    width: 60%;
    margin-right: 5%
}
.formAmPm {
    margin-top: 10px;
    width: 35%;
}
.selectInput{
    margin-top: 10px;
}
.formButton {
    position: relative;
    margin:25% 15%;
    width: 70%;
    height: 35px;
    background-color: #3d434a;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    font-size: 18px;
}
.content {
    padding-top: 82px;
    padding-bottom: 150px;
    background-color: #010409;
    align-items: center;
}
.streaksContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    max-width: 800px;
    
}
.expiredSection {
    width: 80%;
    margin: auto;
    max-width: 800px;
    background-color: #111317;
    margin-top: 20px;
    height: auto;
    border-radius: 10px;
}
.expiredStreaksContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    max-width: 800px;
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
}
.toggleTriangle {
    width: 15px;
    margin-right: 10px;
    transition: transform 0.5s;
}
.expiredLabel {
    margin-left: 30px;
    color:white;
    font-size: 18px;
    width: 152px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #505050;
}
.streakDiv {
    height: 100px;
    max-width: 800px;
    border-radius: 50px;
    margin-top: 10px;
    padding-left:35px;
    padding-right:35px;
    transition: height 0.5s;
    overflow: hidden;
}
.noActiveStreaksMessage {
    text-align: center;
    margin-top: 10px;
    color: rgb(175, 175, 175);
    font-size: 22px;
    max-width: 600px;
    margin: auto;
}
.notActiveStreak {
    background-color: #3d434a;
    color:white;
    margin-top: 10px;
    height: 50px;
    border-radius: 15px;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
.noExpiredStreaksMessage {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 18px;
}
.deleteIcon {
    max-width: auto;  
    height: 20px;
    margin-top: 4px;
    margin-right: 15px;
    transition: transform 0.5s;

}
.retryIcon {
    max-width: auto;  
    height: 24px;  
    margin-top: 2px;
    margin-right: 15px;
    transition: transform 0.5s;
}
.scaleBig:hover {
    transform: scale(1.5, 1.5);
}
.expiredOptionsDiv{
    width: 74px;
    min-width: 74px;
    transition: display 0.5s;
    flex:1;
}

.notActiveName {
    flex:3;
}
.notActiveCounter {
    flex:3;
}
.notActiveAttemts {
    flex:2;
}
.collapsedStreak {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    transition: height 0.1s linear;
    overflow: hidden;
}
.streakElements {
    pointer-events: none;
    margin: 0px;
}
.streakCount {
    flex:1;
    font-size: 66.5px;
    min-width: 135px;
}
.streakName {
    flex:6;
    font-size: 30px;
}
.streakState {
    flex: 3;
    text-align: end;
}
.extendedStreak {
    text-align: center;
    padding-top: 30px;  
    height: auto;
}
.exStreakName {
    font-size: 40px;
}
.exStreakCount {
    font-size: 160px;
}
.exsub {
    font-size: 20px;
}
.incrementButton {
    pointer-events: visible;
    font-size: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    color: rgb(108, 153, 190);
    width: 80%;
    height: 70px;
    position: relative;
    margin:5% 10% 2% 10%;
}
.exStreakState {
    font-size: 20px;
}
.emptyExStreak {
    height: 30px;
    margin-bottom: 0px;
}
.sub {
    font-size: 12px;
}
.streakDetails {
    display: flex;
    flex-wrap: wrap;
}
.detailElement {
    flex: 5;
    font-size: 18px;
}
.highestStreakDetail {
    min-width: 27px;
}
.divider {
    height: 1px;
    margin: 5px 0px;
}